.btn-info {
    position:fixed;
    margin-top: -100px;
    left: 46%;

}
.modal-title{
    text-align: center;
}

.carousel-text{
    position:fixed;
    margin-top: -271px;
    left: 41%;

}
.nav{
    text-align:center;

}