table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 850px;
}
td, th {
   
    text-align: left;
    padding: 10px;
}
span {
    color: #6F0B0B;
}
.headings {
    color: black;
}